@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="/BulkUpload/UploadFiles" method="post" enctype="multipart/form-data">
    <input type="file" />
    <input type="submit" value="upload" />
</form>