@{
    ViewBag.Title = "UploadImg";
}

<h2>UploadImg</h2>
<form action="/home/uploadimg" method="post" enctype="multipart/form-data">
    <input type="file" name="file1" />
    <input type="submit" value="submit" />
</form>