@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script type="text/javascript" src="../../Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="../../Scripts/NEW.js"></script>

<form id="form1" method="post" enctype="multipart/form-data">
    上传图片： <input type="file" id="image" name="File" />
    <a href="#" id="saveNews" style="float: right" class="easyui-linkbutton" iconcls="">提交</a>
</form>